# Iniciamos Instalando el Paquete "gdown"
### Al ser un archivo de Google Drive, en vez de utilizar "pip install requests", usaremos una alternativa específica para Google llamada "gdown"

In [73]:
pip install gdown

Requirement already satisfied: gdown in x:\anacondapython\lib\site-packages (5.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in x:\anacondapython\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in x:\anacondapython\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in x:\anacondapython\lib\site-packages (from gdown) (2.32.2)
Requirement already satisfied: tqdm in x:\anacondapython\lib\site-packages (from gdown) (4.66.4)
Requirement already satisfied: soupsieve>1.2 in x:\anacondapython\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in x:\anacondapython\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in x:\anacondapython\lib\site-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in x:\anacondapython\lib\site-packages (from requests[socks]->gdown) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in x:\anacondapython\lib\site-packages (from requests[socks]->gdown) (2024.8.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in x:\anacondapython\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in x:\anacondapython\lib\site-packages (from tqdm->gdown) (0.4.6)

In [122]:
# Instalamos e Importamos los paquetes y librerías necesarias para realizar el ejercicio

import csv
import os
import gdown
import pandas as pd

file_id = '1wh7zXVULlkWlWhhesy7aohgPUdFJ9cn7'
url = f'https://drive.google.com/uc?id={file_id}'

output = 'Height of Male and Female by Country 2022.csv'
gdown.download(url, output, quiet=False)

# Código para leer y cambiar nuestro Current Working Directory
# En este caso no cambiaremos el directorio ya que ya se encuentra en uso el de nuestra preferencia (C:\Users\Iram Valdés)
dir = os.getcwd()  # cwd = current working directory
print("\n")
print("Current Working Directory: {0}".format(dir))
print("\n")
# os.chdir("/Users/Prueba/ABC/123/EBAC")


# Leemos y convertimos el csv en un dataframe para poder realizar los ejercicios
df = pd.read_csv(output)

# Tuve que agregar el siguiente código para darle formato a mi tabla ya que esta aparecía truncada
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

# Imprimimos las primeras 50 líneas
print(df.head(50))

Downloading...
From: https://drive.google.com/uc?id=1wh7zXVULlkWlWhhesy7aohgPUdFJ9cn7
To: C:\Users\Iram Valdés\Height of Male and Female by Country 2022.csv
100%|██████████| 7.64k/7.64k [00:00<00:00, 7.64MB/s]

Current Working Directory: C:\Users\Iram Valdés


    Rank                      Country Name  Male Height in Cm  Female Height in Cm  Male Height in Ft  Female Height in Ft
0      1                       Netherlands             183.78               170.36               6.03                 5.59
1      2                        Montenegro             183.30               169.96               6.01                 5.58
2      3                           Estonia             182.79               168.66               6.00                 5.53
3      4            Bosnia and Herzegovina             182.47               167.47               5.99                 5.49
4      5                           Iceland             182.10               168.91               5.97                 5.54
5      6                           Denmark             181.89               169.47               5.97                 5.56
6      7                    Czech Republic             181.19               167.96               5.94                 5.51
7      8                            Latvia             181.17               168.81               5.94                 5.54
8      9                          Slovakia             181.02               167.12               5.94                 5.48
9     10                          Slovenia             180.98               167.20               5.94                 5.49
10    11                           Ukraine             180.98               166.62               5.94                 5.47
11    12                           Croatia             180.76               166.80               5.93                 5.47
12    13                            Serbia             180.74               168.29               5.93                 5.52
13    14                         Lithuania             180.72               167.63               5.93                 5.50
14    15                            Poland             180.69               165.78               5.93                 5.44
15    16                           Finland             180.57               166.48               5.92                 5.46
16    17                            Norway             180.48               166.45               5.92                 5.46
17    18                            Sweden             180.46               166.67               5.92                 5.47
18    19                           Germany             180.28               166.18               5.91                 5.45
19    20                          Dominica             180.15               166.89               5.91                 5.48
20    21                           Bermuda             179.72               166.11               5.90                 5.45
21    22                       Puerto Rico             179.48               163.06               5.89                 5.35
22    23                            Greece             179.26               165.81               5.88                 5.44
23    24                           Belgium             179.09               163.40               5.88                 5.36
24    25                           Ireland             179.04               164.50               5.87                 5.40
25    26                           Lebanon             178.96               163.67               5.87                 5.37
26    27                           Andorra             178.84               165.53               5.87                 5.43
27    28               Antigua and Barbuda             178.84               165.72               5.87                 5.44
28    29                         Australia             178.77               164.67               5.87                 5.40
29    30                            Canada             178.75               164.73               5.86                 5.40
30    31                       Switzerland             178.73               164.33               5.86                 5.39
31    32                           Grenada             178.70               165.99               5.86                 5.45
32    33                           Belarus             178.69               166.93               5.86                 5.48
33    34                            France             178.60               164.49               5.86                 5.40
34    35                           Austria             178.52               166.93               5.86                 5.48
35    36                        Luxembourg             178.46               165.07               5.86                 5.42
36    37                      Cook Islands             178.32               167.31               5.85                 5.49
37    38                  French Polynesia             178.32               166.52               5.85                 5.46
38    39                    United Kingdom             178.21               163.94               5.85                 5.38
39    40                           Romania             177.82               164.73               5.83                 5.40
40    41                       New Zealand             177.72               164.66               5.83                 5.40
41    42  Saint Vincent and the Grenadines             177.49               165.30               5.82                 5.42
42    43                              Niue             177.19               167.03               5.81                 5.48
43    44                    American Samoa             177.09               167.55               5.81                 5.50
44    45                          Barbados             177.03               165.66               5.81                 5.44
45    46                           Jamaica             176.97               164.32               5.81                 5.39
46    47                     United States             176.94               163.31               5.81                 5.36
47    48                           Tunisia             176.85               161.69               5.80                 5.30
48    49                            Russia             176.65               164.52               5.80                 5.40
49    50                           Hungary             176.59               162.55               5.79                 5.33

In [123]:
# Calculamos los valores de media, mínima y máxima altura para HOMBRES
Altura_H_Media = df['Male Height in Cm'].median()
Altura_H_Min = df['Male Height in Cm'].min()
Altura_H_Max = df['Male Height in Cm'].max()

# Calculamos los valores de media, mínima y máxima altura para MUJERES
Altura_M_Media = df['Female Height in Cm'].median()
Altura_M_Min = df['Female Height in Cm'].min()
Altura_M_Max = df['Female Height in Cm'].max()

# Imprimimos los resultados 
print("De los datos para los HOMBRES, obtenemos una \n Altura Media  de :",Altura_H_Media, 
      "\n Altura Mínima de :", Altura_H_Min, "\n Altura Máxima de :", Altura_H_Max)

print("\n")

print("De los datos para los MUJERES, obtenemos una \n Altura Media  de :",Altura_M_Media, 
      "\n Altura Mínima de :", Altura_M_Min, "\n Altura Máxima de :", Altura_M_Max)

De los datos para los HOMBRES, obtenemos una
 Altura Media  de : 173.53
 Altura Mínima de : 160.13
 Altura Máxima de : 183.78


De los datos para los MUJERES, obtenemos una
 Altura Media  de : 160.62
 Altura Mínima de : 150.91
 Altura Máxima de : 170.36

In [124]:
# Datos de alturas de mi país de origen (México)
df_MEX = df[df['Country Name'] == 'Mexico']
print(df_MEX)

     Rank Country Name  Male Height in Cm  Female Height in Cm  Male Height in Ft  Female Height in Ft
138   139       Mexico             170.29                157.9               5.59                 5.18